extends ../layoutlogin
  
block head
   link(href='/stylesheets/gamescreen.css', rel='stylesheet')
   script(src="/javascripts/game/gamescreen/controller.js")
   script(src="/javascripts/layout/filter.js")
   script(src="/javascripts/game/gamescreen/directive.js")
   script(src="/javascripts/game/gamescreen/game-socket.js")
  

block append main
   #game-container
      h2#logo #{ title }
      #upper-wrap
         clock-div.upper-module(hours="#{ time.hours }", minutes="#{ time.minutes }", seconds="#{ time.seconds }")
         high-scores-div.upper-module
      ques-div(numofques="#{ quesNum }")
